.intro {
    font-family: 'Inter', Arial, sans-serif;
    width: 100%;
    max-width: 985px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
    box-sizing: border-box;
    padding: 40px 0;
    
}

@media screen and (max-width: 1279px) {
    .intro {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: 100%;
        padding: 40px 24px;
    }
}
 
@media screen and (max-width: 767px) {
    .intro {
        padding: 32px 16px;
    }
}